Flask
Flask-Cors
Flask-SQLAlchemy
Flask-JWT-Extended
Werkzeug
PyJWT
SQLAlchemy
psycopg2-binary
python-dotenv
passlib
Pillow
numpy
pandas
keras
tensorflow
scikit-learn
matplotlib
opencv-python
ultralytics
geopy
requests
PyYAML
tqdm
seaborn
shapely
fiona
geopandas